*{
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", sans-serif;
}

body{
  font-family: tahoma;
}

i,p{
  font-size: 18px;
}

.rowHeader{
  /* max-width: 1140px; */
  max-width: 100%;
  margin: 0 auto;
}
.hero{
  position: absolute;
  width: 1140px;
  /* max-width: 100%; */
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero h1{
    color: white;
}

header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(https://images.pexels.com/photos/5317/food-salad-restaurant-person.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}



.main-nav{
  float: right;
  list-style: none;
  margin-top: 60px;
  margin-right: 60px;
}

.main-nav li{
  display: inline-block;
  margin-left: 20px;
}

.main-nav li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.main-nav li a:hover{
  color: #e67e22;
  border-bottom: 1px solid white;
  transition: all 0.4s ease-in;
  padding: 5px 0;
}

.logo img{
  height: 100px;
  float: left;
  margin-top: 30px;
  margin-left: 60px;
}

.button {
  border: 1px solid #e67e22;
  padding: 10px 30px;
  color: #e67e22;
  text-decoration: none;
  border-radius: 12px;
  margin-right: 15px;
}

.button-awesome{
  margin-top: 40px;
}

.button:hover{
  background-color: #e67e22;
  color: white;
  transition: all 0.5s ease-in;
}

/* .btn-half{
  background-color: #e67e22;
  color: white;
}

.btn-half:hover{
  color: white;
}

.btn-full:hover{
  background-color: #e67e22;
  color: white;
  transition: all 0.5s ease-in;
} */

h3:after{
  width: 100px;
  height: 2px;
  background-color: #e67e22;
  display: block;
  content: " ";
  margin: 0 auto;
  margin-top: 30px;
}

.features h3{
  margin-top: 80px;
  margin-bottom: 30px;
}

.features i{
  font-size: 40px;
  color: #e67e22;
  /* margin-left: 40%; */

  margin-bottom: 10px;
}
.copy{
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.arranging{
  text-align: justify;
}

.features h4{
  font-size: 18px;
}

.meal{
  margin-top: 80px;

}
.meal-showcase{
  list-style: none;
  width: 100%;
}

.meal-showcase li{
  display: block;
  width: 25%;
  float: left;
}

.meal-photo{
  width: 100%;
  height: 300px;
  margin: 0;
  overflow: hidden;
}

.meal-photo img{
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  transition: all 0.5s;
}

.meal-photo img:hover{
    transform: scale(1.05);
}

.pic img{
  width: 80%;
  margin-top: 20px;
  /* margin-top: 20%; */
}

.work-step{
  margin-top: 50px;
}

.work-step div{
    border: 1px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.work-step img{
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
}
/*
.clearfix{
  zoom: 1;
}

.clearfix:after{
  visibility: hidden;
  content: ".";
  height: 0;
  display: block;
  clear: both;
} */

.mobile{
  margin-top: 60px;
}

.cities{
  margin-top: 100px;
}


.cities img{
  width: 100%;
  margin-top: 50px;
}

.cities h4{
  margin-top: 16px;
}

.cities i{
  color: #e67e62;
}

.testimonials{
  margin-top: 80px;
  padding-top: 80px;
  padding-bottom: 60px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("https://images.pexels.com/photos/616404/pexels-photo-616404.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.testimonials p{
  color: white;
  line-height: 25px;
  text-align: justify;
  margin-top: 40px;
}

.testimonials h3{
  color: white;
}

.testimonials cite img{
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid white;
}

.testimonials cite{
  color: white;
}

.btn-block{
  background-color: #e67e22;
  color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.gap{
  margin-top: 50px;

}

.form h3{
  margin-top: 40px;
}

@media (max-width: 720px) {
  .logo {
      margin: auto;
  }
}
